<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3>Map Stuff</h3>
      <p>Map goes here</p><br>
        <select ng-model="selected" ng-change="getData(selected)">
          <option ng-repeat="precinct in precincts" value="{{precinct.value}}">{{precinct.name}}</option>
        </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h4>Chart Stuff</h4>
      <p>{{precinct.name}} Homicides per Month (2016)</p>
      <div id="columnchart_values" style="width: 900px; height: 300px;"></div>
    </div>

    <div class="col-sm-4">
      <h4>Twitter Feed</h4>
      <a class="twitter-timeline" href="https://www.twitter.com/detroitpolice" data-tweet-limit="4">Tweets by detroitpolice</a>
    </div>
  </div>

</div>
