<div class="container mainContainer">

  <div class="row">
    <div class="col-sm-12">
      <div class="mapContainer">
        <h2 class="header">LOCATE A DETROIT HOMICIDE</h3>
          <p class="mainText">
            Detroit Murder Map was created to give Detroit residents an easier way to locate homicidal activity in their area <br>
            using open-source data found on the <a href="https://data.detroitmi.gov/">Detroit's Open Data Portal</a> for 2016.<br>
            <br>
            Get started by zooming in on a specific precinct below to browse homicides in that area, or search an address to find a specific precinct.
          </p>
          <div id="map"></div><br>
        </div>
      </div>
    </div>
    <br>
    <input class = "mainText" id="pac-input" class="controls" type="text" placeholder="Search an Address">

    <div class="row">
      <div class="col-sm-8">
        <div class="chartContainer">
          <h4 class="header">HOMICIDE STATISTICS</h4>
          <p class="mainText">Select a Precinct to See <br> Homicides per Month by Precinct (2016)</p>
          <label class="mainText">Select a precinct:</label><br>
          <select class ="mainDropdown" ng-model="selected" ng-change="getData(selected)">
            <option ng-repeat="precinct in precincts" value="{{precinct.value}}">{{precinct.name}}</option>
          </select>
          <div class="pieChart" id="piechart_3d"></div>
          <div class="columnChart" id="columnchart_values"></div><br>
        </div>
      </div>

      <div class="col-sm-4">
        <div class = "mainPrecinctInfo">
          <h4 class="header">HOMICIDE DETAILS</h4>
          <ul class="mainText">
            <li ng-repeat="homicide in allHomicides">
              Date: {{homicide.date}}<br>
              Description: {{homicide.desc}}<br><br>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
