html{
  margin-right: 0;
  margin-left: 0;
	background-color: black ;
	background: url('images/flagClear2.png') no-repeat center center fixed, url('images/flashingLights.gif') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 z-index: -1;
}


.center{
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 475px;
	height: 475px;	background: url(images/logo2.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.arrow span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: url(images/chalkOutline2.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: px 0;
}







