/* Map Styling*/

#map {
  margin: auto;
  height: 500px;
  width: 70%;
  border-radius: 5px;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
  background-color: blue;
}

#contentbox {
  border-radius: 2em;
  background-color: red;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Nunito;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Nunito;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Nunito;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

/*General Styling*/
.header {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.navbar-brand {
  font-family: 'Arvo', serif;
  font-size: 24px;
}

* {
  color: #585858;
}

footer {
  width: 100%;
  height: 30px;
  background-color: #E5E7E9;
  margin: 0;
  clear: both;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 4px;
}

/*Main Page Styling*/
.noChart {
  display: none;
}

.mainText {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.mapContainer {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  min-height: 700px;
  padding: 1.5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}

.chartContainer {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 2%;
  width: 100%;
  height: 650px;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  align: center;
}

.mainPrecinctInfo {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 2%;
  height: 650px;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}

#placeholder {
  text-align: center;
  margin-top: 50%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.mainPrecinctInfo h4 {
  text-align: center;
}

.pieChart {
  width: 100%;
  height: 80%;
  background: none;
  align: center;
}

.columnChart {
  width: 100%;
  height: 75%;
  background: none;
  align: center;
}

li {
  list-style-type: none
}

.container {
  width: 90%;
  height: 100%;
}

.mainDropdown {
  width: 50%;
  background-color: white;
  border: .5px solid black;
  height: 40px;
}

.precinctInfoList {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  max-height: 500px;
  overflow-y: scroll;
}

.itemLabel {
  font-weight: bold;
  display: inline;
}

#precinctInfoText {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

/*About Us Styling*/
.aboutContainer {
  width: 100%;
  padding: 1% 2%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  text-align: center;
  min-height: 550px;
  margin-bottom: 20px;
}

.aboutHeader {
  font-size: 24px;
  font-weight: bold;
}

.aboutImg img {
  border-radius: 50%;
  width: 50%;
  margin: 5% 0%;
}

.aboutDesc {
  font-size: 16px;
}

.descHeader {
  font-weight: bold;
  font-size: 18px;
}

/*Landing Page Styling*/
.landingContainer {
  margin-right: 0;
  margin-left: 0;
  background-color: black ;
  background: url('images/flagClear2.png') no-repeat center center fixed, url('images/flashingLights.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 475px;
  height: 475px;	background: url('images/logo2.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.arrow span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background: url('images/chalkOutline2.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0;
}
